body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



#title {
    text-align: center;
    background-color: #C8CDCC;
    height: 100px;
    font-weight: bold;
}

h5 {
    padding-top: 0px;
    font-size: medium;
    font-weight: lighter;
}

#main {
    background-color: #C8CDCC;
}

#img-div {
    background: white;
    text-align: center;  
    padding-bottom: 15px;      
}

#image {
    display: block;
    max-width: 100%;
    text-align: center;
    padding-top: 35px; 
    padding-bottom: 25px;
}


#img-caption {
    padding-top: 10px;
}

#tribute-info {
    padding: 20px 400px 20px 400px;
    text-align: justify;
}

h4 {
    text-align: center;
    text-decoration: solid;
}

#tribute-link {
    text-align: center;
}

